//Serviços
//=================================
#lista-servicos {
  figure {
    img {
      @extend %trans;
    }
    &:hover {
      img {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05);
      }
    }
  }
  figcaption {
    margin-top: rem-calc(30);
  }
  h3 {
    font-family: Poppins;
    font-weight: 700;
    line-height: 1.2;
    font-size: rem-calc(18);
    color: #303030;
  }
  p {
    font-weight: 300;
    font-size: rem-calc(14);
    margin: 0;
  }

  @include breakpoint(medium down) {
    figcaption {
      margin-bottom: rem-calc(30);
    }
    figure:last-child {
      figcaption {
        margin-bottom: 0;
      }
    }
  }
}

//Sobre nós
//=================================
#home-sobre {
  background-color: $azul-claro;
  color: $white;

  h1 {
    font-family: Poppins;
    font-weight: bold;
    letter-spacing: 0px;
    text-transform: uppercase;
  }

  p {
    margin: 0;
  }

  @include breakpoint(large up) {
    h1 {
      font-size: rem-calc(52);
    }
    p {
      font-size: rem-calc(18);
    }
  }
}

//Automatizar
//=================================
#home-automtizar {
  h2 {
    font-family: Poppins,sans-serif;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: rem-calc(30);
  }
  p,li {
    font-weight: 300;
    color: gray;
  }

  @include breakpoint(medium up) {
    h2 {
      font-size: rem-calc(37);
    }
    p,li {
      font-size: rem-calc(18);
    }
  }
}

//Depoimentos
//=================================
#home-depoimentos {
  background-color: $violeta-clara;
  color: $white;

  h1 {
    font-weight: 700;
    margin-bottom: rem-calc(60);
  }
  h4 {
    font-weight: 700;
  }
  p {
    font-weight: 300;
    font-size: rem-calc(14);
    margin-bottom: 0;
  }
  img {
    border-radius: 100%;
  }

  .media-object-section {
    h4 {
      font-size: rem-calc(18);
      text-transform: uppercase;
    }
    p {
      font-size: rem-calc(12);
      text-transform: uppercase;
      font-weight: 700;
    }
  }
  @include breakpoint(small only) {
    article {
      margin-bottom: rem-calc(50);
    }
  }
  @include breakpoint(medium up) {
    h1 {
      font-size: rem-calc(37);
    }
  }
  @include breakpoint(large up) {
    article {
      padding: rem-calc(0 50);
    }
  }
}

//Ajuda
//=================================
#home-ajuda {
  h1 {
    font-weight: 700;
  }
  p {
    font-size: rem-calc(15);
    color: gray;
  }

  @include breakpoint(medium up) {
    h1 {
      font-size: rem-calc(37);
    }
  }
}

//Blog
//=================================
#home-blog {
  background-color: $azul-mar;
  color: $white;

  a {
    color: $white;
  }
  h1 {
    font-weight: 700;
    margin-bottom: rem-calc(40);
  }
  img {
    @extend %trans;
    &:hover {
      opacity: .8;
    }
  }
  h2 {
    @extend %trans;
    line-height: 1.3;
    font-weight: 700;
    &:hover {
      color: $black;
    }
  }
  figcaption {
    margin-top: rem-calc(30);
  }
  .post-data {
    font-size: rem-calc(18);
    font-family: Poppins,sans-serif;
    font-weight: 700;

    a:hover {
      color: $primary-color;
    }

    span {
      display: inline-block;
      margin-right: rem-calc(10);
    }
  }

  @include breakpoint(medium up) {
    h1 {
      font-size: rem-calc(37);
    }
    h2 {
      font-size: rem-calc(26);
    }
  }
}
