%trans {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

body {
  position: relative;
  overflow-x: hidden;

  @include breakpoint(medium down) {
    padding-top: rem-calc(70) !important;
  }
}

a {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

figure {
  margin: 0 !important;
}

.wp-caption > figcaption {
  max-width: 100%;
  font-size: 0.8rem;
  color: #999;
  padding: 0.25rem 0;
  font-style: italic;
}

p.wp-caption-text{
  font-size:90%;
  color: #666;
  padding:rem-calc(10) 0;
}

.alignleft {
  float: left;
  padding-right: 1rem;
  margin: 0;
}

.alignright {
  float: right;
  padding-left: 1rem;
  margin: 0;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

//containers
.d-iblock {
  display: inline-block;
}
.d-block {
  display: block;
}
.v-center {
  @include vertical-center;
}
.rel {
  position: relative;
}
.no-margin {
  margin: 0 !important;
}
.section {
  padding: rem-calc(100 0);
}
.vh {
  visibility: hidden;
}
.full-height {
  height: 100%;
}
.button {
  &.bgwhite {
    background-color: $white;
    font-weight: 700;
    text-transform: uppercase;
    color: $primary-color;
    padding: rem-calc(20 40);
    border: 2px solid $white;

    &:hover {
      background-color: $primary-color;
      color: $white;
    }
  }
}
//texts
.font-title {
  font-weight: 900;
  text-transform: uppercase;
}
